<div class="container">
  <div class="test">
    <br>

    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <h2>Start Date and Time</h2>
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" name="Date">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="assets/Calendar-1.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
        <span style="margin-left: 20px">
          <ngb-timepicker [(ngModel)]="time" name="Time"></ngb-timepicker>
        </span>
      </div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ interval }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <button *ngFor = "let option of intervalOptions; let i = index" class="dropdown-item" (click)="chooseInterval(i)">{{option}}</button>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ emailTypeDisplay }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button *ngFor = "let option of emailOptions; let i = index" class="dropdown-item" (click)="chooseType(i)">{{option}}</button>
              </div>
            </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="startSchedule()" type="button">Submit</button>
    </form>
  </div>
</div>