<div class="container">
  <div class="test">
    <br>
    <h1>Start Date and Time</h1>

    <form>
      <div>
        <h4>Select Starting Date</h4>
        <div class="input-group">
          <input class="form-control"  [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" name="Date" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="assets/Calendar-1.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
        <br>
        <h4>Select Starting Time(24-hours standard)</h4>
        <div>
          <ngb-timepicker [(ngModel)]="time" name="Time"></ngb-timepicker>
        </div>
      </div>
      <h4>Select Interval You Would Like To Receive Emails</h4>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <input [(ngModel)]="intervalQuantity" type="number" name="intervalValue" />
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ interval }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let option of intervalOptions; let i = index" class="dropdown-item" (click)="chooseInterval(i)">{{option}}</button>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ emailTypeDisplay }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let option of emailOptions; let i = index" class="dropdown-item" (click)="chooseType(i)">{{option}}</button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="startSchedule()" type="button">Submit</button>
    </form>
  </div>
</div>

<div class="row container center">
  <div class="col align-self-start" *ngIf="gradeReminderSchedule" id="intervalDiv">
    <h3>Grade Schedule</h3>
    <li> Time Until Next Email: {{ gradeReminderSchedule.delay | convertTime }}</li>
    <li> Scheduled Interval: {{gradeReminderSchedule.interval | convertInterval}}</li>
    <button class="btn btn-primary" (click)="cancelGrade()" type ="button">Cancel Scheduled</button>
  </div>

  <div class="col align-self-end" *ngIf="performanceReportSchedule" id="intervalDiv">
    <h3> Performance Schedule</h3>
    <li> Time Until Next Email: {{performanceReportSchedule.delay | convertTime}}</li>
    <li> Scheduled Interval: {{performanceReportSchedule.interval | convertInterval}}</li>
    <button class="btn btn-primary" (click)="cancelPerformance()" type ="button">Cancel Scheduled</button>
  </div>
</div>

<br>
<div class="row">
  <div class="col">
    <div class="panelborder">
      <h3 class="h3">Vice Presidents</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let performanceTrainer of performanceReportTrainers">
              <td>{{performanceTrainer.name}}</td>
              <td>{{performanceTrainer.email}}</td>
              <td>{{performanceTrainer.trainerId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="panelborder">
      <h3 class="h3">Trainer</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gradeTrainer of gradeReminderTrainers">
              <td>{{gradeTrainer.name}}</td>
              <td>{{gradeTrainer.email}}</td>
              <td>{{gradeTrainer.trainerId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>